.userInfo {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;



    .user {

        display: flex;
        align-items: center;
        gap: 20px;


        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            object-fit: cover;

        }

    }
    .ioncs{
        display: flex;
        gap: 20px;
            
    }
    img{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }



}