.userInfo{
padding: 20px;
display: flex;
align-items: center;
justify-content: center;



.user{

    display: flex;
    align-items: center;
    gap: 20px;

}
img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;

}

}